**Chapter 6: Exercise 2**

You have estimated the following ARMA(1,1) model for some time series data
$y_t = 0.036 + 0.69y_{t−1} + 0.42u_{t−1} + u_t$,
where you are given the data at time t − 1, $y_{t−1} = 3.4$ and $\hat{u}_{t−1} = −1.3$. Obtain the
forecasts for the series y for times t,t + 1, t + 2 using the estimated ARMA model. If the actual values for the series are −0.032, 0.961, 0.203 for t,t + 1, t + 2, calculate the out-of-sample Mean Squared Error (MSE) and Mean Absolute Error (MAE).

Solution: To obtain the forecasts for the series y for times t, t+1, t+2 using the estimated ARMA model, we can use the following equations:

$\hat{y}_t = 0.036 + 0.69y_{t-1} + 0.42u_{t-1}$ 

$ \hat{y}_{t+1} = 0.036 + 0.69\hat{y}_t + 0.42y_t $

$\hat{y}_{t+2} = 0.036 + 0.69*\hat{y}_{t+1} + 0.42*y{t+1}$

Using the given data at time t-1, $y_{t-1} = 3.4$ and $\hat{u}_{t−1} = −1.3$, we can calculate the forecasts:

$\hat{y} = 0.036 + 0.693.4 + 0.42(-1.3) = 2.185$

$\hat{y}_{t+1} = 0.036 + 0.692.185 + 0.42(-0.032) = 1.625$

$\hat{y}_{t+2} = 0.036 + 0.691.625 + 0.420.961 = 1.248 $

The actual values for the series are -0.032, 0.961, 0.203 for t, t+1, t+2 respectively. We can use these values along with the forecasts to calculate the out-of-sample Mean Squared Error (MSE) and Mean Absolute Error (MAE) in Python as follows:

In [ ]:
import numpy as np
from sklearn.metrics import mean_squared_error, mean_absolute_error

In [ ]:
# actual values
y_actual = np.array([-0.032, 0.961, 0.203])

In [ ]:
# forecast values
y_forecast = np.array([2.185, 1.625, 1.248])

In [ ]:
# calculate MSE
mse = mean_squared_error(y_actual, y_forecast)
print("MSE:", mse)

MSE: 2.1493366666666667

In [ ]:
# calculate MAE
mae = mean_absolute_error(y_actual, y_forecast)
print("MAE:", mae)

MAE: 1.3086666666666666